.inboxContainer{
    height: 250px;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-items:  center;
    align-items: center;
}
.inboxContainer > h1 {
    text-align: center;
}
.inboxContainer > p {
    text-align: center;
}
.subscribeBtn{
    height: 50px;
    border-radius: 30px;
    position: absolute;
    right: 0.5px;
    padding: 5px 15px;
    background-color: #119a77;;
    color: whitesmoke;
    font-weight: bold;
    border-color: #119a77;
    
}
.subscribeinput{
    height: 50px;
    border-radius: 30px;
    width: 350px;
    padding-left: 20px;
    border: 1px solid #119a77;

}
.subscribeinput::placeholder{
    color: #119a77;
}
.subscribeinput:focus{
    border: 2px solid  #119a77;
}
.subsBtnContainer{
    position: relative;
}
.subscribeBtn:hover{
    background-color: whitesmoke;
    color: #119a77;
}

@media (max-width: 400){
    .subscribeinput{
        width: 80%;
    }
}