.Container {
    width: 100%;
    /* background-color:  cadetblue; */
    background-color: transparent;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    margin-top: 20px;
    position: fixed;

}

.head {
    display: flex;
    align-items: center;
    margin-left: 80px;
    margin-right: 10px;
}

.menuIcon {
    color: whitesmoke;
    font-weight: bold;
    font-size: 40px;
    margin-right: 40px;
    cursor: pointer;
}

.loginIcon {
    color: whitesmoke;
    color: whitesmoke;
    font-weight: bold;
    font-size: 40px;
    margin-right: 90px;

    cursor: pointer;

}

.signinContainer {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.heading {
    color: whitesmoke;

    .head {
        margin-left: 80px;
        margin-right: 40px;
    }
}



@media screen and (max-width: 600px) {
    .loginIcon {
        margin-right: 20px;
        font-size: 30px;


    }

    .menuIcon {
        margin-right: 10px;
        /* margin-left: 10px; */
        font-size: 27px;
    }

    .head {
        margin-left: 40px;
        margin-right: 20px;
    }

    .heading {
        font-size: 20px;
    }
}